*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}

/* common */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.break-all {
  word-break: break-all;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  display: block;
  background-color: transparent;
  border: none;
}

.row {
  display: flex;
  align-items: center;
}

.btn {
  background: #2e80ce;
  color: #fff;
  padding: 15px 45px;
  font-weight: 400;
  border-radius: 99px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background: #10375c;
  margin-bottom: 170px;
}

.header-container {
  padding-top: 30px;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 0 43px;
}

.header-menu li a {
  display: inline-block;
  color: #c9d2da;
  text-decoration: none;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.header-menu li:hover a {
  color: #fff;
}

.header-menu li:hover a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 8px), -50%);
}

navbar .header-auth {
  display: flex;
  gap: 0 28px;
}

navbar .header-auth button {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #c9d2da;
  background-color: transparent;
  border: none;
}

navbar .header-auth button.btn {
  padding: 8px 20px;
  background: #2e80ce;
  border-radius: 22px;
  font-weight: 400;
  color: #fff;
}

.header__hero {
  height: calc(100vh - 44px - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hero .header__content {
  width: 517px;
  flex-shrink: 0;
}

.header__hero .header__content .header__heading {
  font-weight: 600;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 22px;
}

.header__hero .header__content .header_desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #c9d2da;
  margin-bottom: 38px;
}

.header__hero .header__content .btn--book {
  font-size: 18px;
  line-height: 30px;
  margin-right: 38px;
}

.header__hero .header__content span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.header__hero .header__image--block {
  height: 100%;
  width: 534px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header__hero .header__image--block::before {
  content: "";
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  background-image: url(https://plus.unsplash.com/premium_photo-1672922646120-1537222c4891?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  height: calc(67.5vh - 130px);
  width: 300px;
  object-fit: cover;
  z-index: -1;
}

.header__hero .header__image--block img {
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.header__hero .header__image--block img.image {
  width: 330px;
  height: 67.5vh;
}

.header__hero .header__image--block img.subimage {
  width: 210px;
  height: calc(67.5vh - 130px);
  border-radius: 0px 6px 6px 0px;
}

.service {
  margin-bottom: 170px;
}

.service .service__heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #10375c;
  text-align: center;
  margin-bottom: 18px;
}

.service .service__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  width: 468px;
  text-align: center;
  margin: 0 auto;
  color: #575f66;
  margin-bottom: 70px;
}

.service .service__content {
  display: flex;
  justify-content: space-between;
}

.service .service__content img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service .service__content .service__product {
  width: 470px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
}

.service .service__content .service__product button {
  align-self: flex-start;
  margin-top: auto;
}

.service .service__content .service__list li:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: all 0.25s linear;
}

.service .service__content .service__list li:hover a div.icon {
  background: #2e80ce;
  transition: all 0.25s linear;
}

.service .service__content .service__list li:hover a div.icon i {
  color: #fff;
  transition: all 0.25s linear;
}

.service .service__content .service__list li a {
  display: flex;
  padding: 21px 18px 20px 22px;
  gap: 0 20px;
  border-radius: 10px;
}

.service .service__content .service__list li a .item__info .name {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #10375c;
  margin-bottom: 8px;
}

.service .service__content .service__list li a .item__info .desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #575f66;
}

.service .service__content .service__list li a .icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.service .service__content .service__list li a .icon i {
  font-size: 22px;
  color: #10375c;
}

.work {
  background: #f7fbff;
  padding: 100px 0 116px;
  margin-bottom: 170px;
}

.work .work__heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #10375c;
  margin-bottom: 18px;
}

.work .work__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #575f66;
  width: 468px;
  margin-bottom: 86px;
}

.work .work__list {
  display: grid;
  gap: 0 30px;
  grid-template-columns: repeat(3, 1fr);
}

.work .work__list .work__item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  padding: 43px 42px;
  transition: all 0.25s linear;
}

.work .work__list .work__item:hover {
  transform: translateY(-16px);
  border-color: #2e80ce;
}

.work .work__list .work__item:hover .work__item-link {
  color: #2e80ce;
}

.work .work__list .work__item * {
  display: block;
}

.work .work__list .work__item i {
  font-size: 67px;
  color: #10375c;
  margin-bottom: 18px;
}

.work .work__list .work__item .work__item-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #10375c;
  margin-bottom: 28px;
}

.work .work__list .work__item .work__item-desc {
  display: -webkit-box;
  width: 100%;
  --line-clamp: 3;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #575f66;
  margin-bottom: 18px;
}

.work .work__list .work__item .work__item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #575f66;
}

.ads{
  margin-bottom: 170px;
}

.ads__container{
  display: flex;
  justify-content: space-between;
}

.ads .ads__image--block{
  width: 570px;
  position: relative;
}

.ads .ads__image--block img:first-child{
  position: absolute;
  top:0;
  left: 0;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  z-index: -1;
}

.ads .ads__image--block img:nth-child(2){
  position: absolute;
  right:0;
  bottom: 0;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  z-index: 99;
}

.ads .ads__content{
  padding: 83px 0;
  width: 470px;
}

.ads .ads__heading{
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #10375C;
  margin-bottom: 18px;
}

.ads .ads__desc{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #575F66;
  margin-bottom: 38px;
}


